@media all and (max-width: 2500px) {
    .block1 {
        width: 90%;
        border: solid 1px black;

        float:left;
    }
    .block2{
        width: 35%;
        border:solid 1px black;
        float:left;

    }
    .block3{
        width: 25%;
        border: solid 1px green;
        float: left;

    }
    .block4{
        width: 25%;
        border: solid 1px red;
        float: left;
    }

}
@media all and (max-width: 1300px){
    .block1{
        width: 100%;
        font-size: 16px;
        background: red;
    }
    .block3{
        width:100%;
        font-size: 16px;
        float: left;

    }
}